body {
       background-color:#66C2FF;
    font-family:sans-serif;
    text-align:center;
    color:white
}

h {
    color:lightgrey;
}

#sam {
    color:white;
    font-size:140%;
}

#echo {
    color:gold;
    font-size:200%
}

#disclaimer {
    vertical-align: text-bottom;
    color:lightblue;
}

